<app-page-header>
  {{ trackFormTitle }}
</app-page-header>
<app-form-error-header
  [errorHeaderMessage]="trackErrorMessage"
  [errorHeaderFormGroup]="trackForm">
</app-form-error-header>
<form
  #form="ngForm"
  [formGroup]="trackForm"
  (ngSubmit)="submit()">
  <fieldset>
    <legend class="sr-only">
      Track details
    </legend>
    <div class="col-lg-6 mb-3">
      <app-form-input-text
        formControlName="trackArtist"
        [inputLabelText]="'Track artist'"
        [inputId]="'trackArtist'">
      </app-form-input-text>
    </div>
    <div class="col-lg-6 mb-3">
      <app-form-input-text
        formControlName="trackTitle"
        [inputLabelText]="'Track title'"
        [inputId]="'trackTitle'">
      </app-form-input-text>
    </div>
    <div class="d-flex">
      <div class="mb-3">
        <app-form-label
          [labelControlId]="'trackBPM'">
          Track BPM
          <span class="fst-italic fw-normal small">
            (beats per minute)
          </span>
        </app-form-label>
        <app-form-input-number
          formControlName="trackBPM"
          [inputErrorMessageId]="'trackBPMError'"
          [inputErrorMessages]="errorMessageBPM"
          [inputId]="'trackBPM'">
        </app-form-input-number>
      </div>
    </div>
    <div class="d-flex">
      <div class="mb-3">
        <app-form-input-select
          formControlName="trackKey"
          [inputId]="'trackKey'"
          [inputLabelText]="'Track key'">
          <optgroup label="Minor Keys">
            <option
              *ngFor="let minorKey of minorKeys; let i = index"
              [value]="(i+1) + 'A'">
              {{ (i+1) + 'A' }} - {{ minorKey }} Minor
            </option>
          </optgroup>
          <optgroup label="Major Keys">
            <option
              *ngFor="let majorKey of majorKeys; let i = index"
              [value]="(i+1) + 'B'">
              {{ (i+1) + 'B' }} - {{ majorKey }} Major
            </option>
          </optgroup>
        </app-form-input-select>
      </div>
    </div>
    <div
      class="d-flex"
      [formGroup]="trackStartTimeForm">
      <div class="mb-3">
        <fieldset>
          <legend>
            Track start time
            <span class="fst-italic fw-normal small">
              (hours minutes seconds)
            </span>
          </legend>
          <div class="input-group">
            <app-form-input-number
              formControlName="trackHours"
              [inputErrorMessageId]="'trackStartHoursError'"
              [inputId]="'trackStartTimeHours'"
              [inputLabelInvisible]="true"
              [inputLabelText]="'Hours'"
              [inputMin]="0"
              [inputMax]="99">
            </app-form-input-number>
            <div class="input-group-append ms-1 me-1">
              <span class="input-group-text">:</span>
            </div>
            <app-form-input-number
              formControlName="trackMinutes"
              [inputErrorMessageId]="'trackStartMinutesError'"
              [inputId]="'trackStartTimeMinutes'"
              [inputLabelInvisible]="true"
              [inputLabelText]="'Minutes'"
              [inputMin]="0"
              [inputMax]="59">
            </app-form-input-number>
            <div class="input-group-append ms-1 me-1">
              <span class="input-group-text">:</span>
            </div>
            <app-form-input-number
              formControlName="trackSeconds"
              [inputErrorMessageId]="'trackStartSecondsError'"
              [inputId]="'trackStartTimeSeconds'"
              [inputLabelInvisible]="true"
              [inputLabelText]="'Seconds'"
              [inputMin]="0"
              [inputMax]="59">
            </app-form-input-number>
          </div>
          <div
            [ngClass]="{
              'mt-1' : trackStartTimeForm.invalid}">
            <app-form-error-feedback
              [errorFeedbackControl]="trackStartTimeForm.controls.trackHours"
              [errorFeedbackId]="'trackStartHoursError'"
              [errorFeedbackMessages]="errorMessageHours">
            </app-form-error-feedback>
            <app-form-error-feedback
              [errorFeedbackControl]="trackStartTimeForm.controls.trackMinutes"
              [errorFeedbackId]="'trackStartMinutesError'"
              [errorFeedbackMessages]="errorMessageMinutes">
            </app-form-error-feedback>
            <app-form-error-feedback
              [errorFeedbackControl]="trackStartTimeForm.controls.trackSeconds"
              [errorFeedbackId]="'trackStartSecondsError'"
              [errorFeedbackMessages]="errorMessageSeconds">
            </app-form-error-feedback>
          </div>
        </fieldset>
      </div>
    </div>
    <div
      class="d-flex"
      [formGroup]="trackEndTimeForm">
      <div class="mb-3">
        <fieldset>
          <legend>
            Track end time
            <span class="fst-italic fw-normal small">
              (hours minutes seconds)
            </span>
          </legend>
          <div class="input-group">
            <app-form-input-number
              formControlName="trackHours"
              [inputErrorMessageId]="'trackEndHoursError'"
              [inputId]="'trackEndTimeHours'"
              [inputLabelInvisible]="true"
              [inputLabelText]="'Hours'"
              [inputMin]="0"
              [inputMax]="99">
            </app-form-input-number>
            <div class="input-group-append ms-1 me-1">
              <span class="input-group-text">:</span>
            </div>
            <app-form-input-number
              formControlName="trackMinutes"
              [inputErrorMessageId]="'trackEndMinutesError'"
              [inputId]="'trackEndTimeMinutes'"
              [inputLabelInvisible]="true"
              [inputLabelText]="'Minutes'"
              [inputMin]="0"
              [inputMax]="59">
            </app-form-input-number>
            <div class="input-group-append ms-1 me-1">
              <span class="input-group-text">:</span>
            </div>
            <app-form-input-number
              formControlName="trackSeconds"
              [inputErrorMessageId]="'trackEndSecondsError'"
              [inputId]="'trackEndTimeSeconds'"
              [inputLabelInvisible]="true"
              [inputLabelText]="'Seconds'"
              [inputMin]="0"
              [inputMax]="59">
            </app-form-input-number>
          </div>
          <div
            [ngClass]="{
              'mt-1' : trackEndTimeForm.invalid}">
            <app-form-error-feedback
              [errorFeedbackControl]="trackEndTimeForm.controls.trackHours"
              [errorFeedbackId]="'trackEndHoursError'"
              [errorFeedbackMessages]="errorMessageHours">
            </app-form-error-feedback>
            <app-form-error-feedback
              [errorFeedbackControl]="trackEndTimeForm.controls.trackMinutes"
              [errorFeedbackId]="'trackEndMinutesError'"
              [errorFeedbackMessages]="errorMessageMinutes">
            </app-form-error-feedback>
            <app-form-error-feedback
              [errorFeedbackControl]="trackEndTimeForm.controls.trackSeconds"
              [errorFeedbackId]="'trackEndSecondsError'"
              [errorFeedbackMessages]="errorMessageSeconds">
            </app-form-error-feedback>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="mt-2">
      <button
        class="btn btn-primary mb-1 me-1"
        type="submit"
        [disabled]="isWorking()">
        Submit
      </button>
      <button
        class="btn btn-secondary mb-1"
        type="button"
        [disabled]="isWorking()"
        (click)="cancel()">
        Cancel
      </button>
      <span *ngIf="isWorking()" class="ms-2">
        <app-spinner
          [spinnerSmall]="true">
        </app-spinner>
      </span>
    </div>
  </fieldset>
</form>