<app-page-header>
  {{ trackFormTitle }}
</app-page-header>
<app-alert
  *ngIf="trackErrorMessage"
  [alertId]="'errorHeader'"
  [alertRole]="'note'"
  [alertType]="'alert-danger'">
  {{ trackErrorMessage }}
</app-alert>
<app-edit-track-input
  [tracklistId]="tracklistId"
  [trackId]="trackId"
  (onError)="displayErrorMessage($event)"
  (onAdded)="setTrackNameAdded($event)"
  (onUpdated)="setTrackNameUpdated($event)"
  (onCancel)="displayPreviousPage()"
  (onNotFound)="displayNotFoundPage()">
</app-edit-track-input>