<app-page-header>
  Tracklists
</app-page-header>
<app-alert
  *ngIf="tracklistErrorMessage"
  [alertId]="'errorHeader'"
  [alertRole]="'note'"
  [alertType]="'alert-danger'">
  {{ tracklistErrorMessage }}
</app-alert>
<app-alert
  *ngIf="tracklistSuccessMessage"
  [alertId]="'successHeader'"
  [alertRole]="'note'"
  [alertType]="'alert-success'">
  {{ tracklistSuccessMessage }}
</app-alert>
<app-tracklist-table
  (onError)="displayErrorMessage($event)"
  (onAdded)="displayAddMessage($event)"
  (onRemoved)="displayRemoveMessage($event)">
</app-tracklist-table>