<h1>
  Edit tracklist
</h1>
<app-alert
  *ngIf="tracklistErrorMessage"
  [message]="tracklistErrorMessage"
  [type]="'danger'">
</app-alert>
<app-alert
  *ngIf="tracklistSuccessMessage"
  [message]="tracklistSuccessMessage"
  [type]="'success'">
</app-alert>
<h2>
  Title
</h2>
<app-edit-tracklist-title
  [tracklistId]="tracklistId"
  (onError)="displayErrorMessage($event)"
  (onTitleUpdated)="displayTitleUpdatedMessage()"
  (onTitleNotFound)="displayNotFoundPage()">
</app-edit-tracklist-title>
<h2>
  Tracks
</h2>
<app-edit-tracklist-track-table
  [tracklistId]="tracklistId"
  (onError)="displayErrorMessage($event)"
  (onAddClick)="addTrack()"
  (onEditClick)="editTrack($event)"
  (onTracksRemoved)="displayTracksRemovedMessage($event)"
  (onTracksSwapped)="displayTracksSwappedMessage()"
  (onTracksNotFound)="displayNotFoundPage()">
</app-edit-tracklist-track-table>
<div class="mb-2 mt-4">
  Return to: <a routerLink="/tracklists">Tracklists</a>
</div>