<app-header>
  Tracklists
</app-header>
<app-alert
  *ngIf="tracklistErrorMessage"
  [id]="'errorHeader'"
  [role]="'note'"
  [type]="'danger'">
  {{ tracklistErrorMessage }}
</app-alert>
<app-alert
  *ngIf="tracklistSuccessMessage"
  [id]="'successHeader'"
  [role]="'note'"
  [type]="'success'">
  {{ tracklistSuccessMessage }}
</app-alert>
<app-tracklist-table
  (onError)="displayErrorMessage($event)"
  (onAdded)="displayAddMessage($event)"
  (onRemoved)="displayRemoveMessage($event)">
</app-tracklist-table>