<app-page-header>
  Edit tracklist
</app-page-header>
<app-alert
  *ngIf="tracklistErrorMessage"
  [alertId]="'errorHeader'"
  [alertType]="'alert-danger'">
  {{ tracklistErrorMessage }}
</app-alert>
<app-alert
  *ngIf="tracklistSuccessMessage"
  [alertId]="'successHeader'"
  [alertType]="'alert-success'">
  {{ tracklistSuccessMessage }}
</app-alert>
<h2>
  Title
</h2>
<app-edit-tracklist-title
  [tracklistId]="tracklistId"
  (onError)="displayErrorMessage($event)"
  (onUpdated)="displayTitleUpdatedMessage()"
  (onNotFound)="displayNotFoundPage()">
</app-edit-tracklist-title>
<h2>
  Tracks
</h2>
<app-edit-tracklist-track-table
  [tracklistId]="tracklistId"
  (onError)="displayErrorMessage($event)"
  (onAdd)="addTrack()"
  (onEdit)="editTrack($event)"
  (onRemoved)="displayTracksRemovedMessage($event)"
  (onSwapped)="displayTracksSwappedMessage($event)"
  (onNotFound)="displayNotFoundPage()">
</app-edit-tracklist-track-table>
<div class="mb-2 mt-3">
  Return to: <a routerLink="/tracklists" aria-label="Return to tracklists page">Tracklists</a>
</div>