<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped mb-1">
    <caption *ngIf="tracks | async as trackArray">
      Table of {{ trackArray.length }} tracks
    </caption>
    <thead>
      <tr>
        <th scope="col" id="selectCol">Select</th>
        <th scope="col" id="trackCol">Track</th>
        <th scope="col" id="bpmCol">BPM</th>
        <th scope="col" id="keyCol">Key</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="tracksAreLoading else trackListing">
        <td></td>
        <td colspan="3">
          <app-spinner
            [spinnerSmall]="true">
            Loading, please wait...
          </app-spinner>
        </td>
      </tr>
      <ng-template #trackListing>
        <tr *ngIf="trackCount === 0">
          <td></td>
          <td colspan="3">
            No tracks available.
          </td>
        </tr>
        <tr *ngFor="let track of tracks | async; let i = index">
          <td class="text-center">
            <input 
              type="checkbox" 
              class="form-check-input"
              [id]="'chk' + i" 
              [value]="track.id"
              (change)="onTrackSelected($event.target.checked, track.title, track.id)">
            <label 
              class="sr-only" 
              [for]="'chk' + i">
              Select track {{ (i+1) }}. {{ track.artist }} - {{ track.title }}
            </label>
          </td>
          <td>
            <span aria-hidden="true" class="opacity-75">
              [{{ track.startTime | trackLength }}]
            </span>
            <span class="track-detail-responsive">
              <span aria-hidden="true">
                {{ (i+1) | trackNumber }}.
              </span>
              <span class="sr-only">
                Track {{ (i+1) }}
              </span>
              <span>
                {{ track.artist }} - {{ track.title }}
              </span>
              <span class="sr-only">
                Track start time is {{ track.startTime | trackLengthAccessible }}
                Track length is {{ track.getLength() | trackLengthAccessible }}
              </span>
            </span>
            <span class="track-length-responsive">
              <span aria-hidden="true" class="opacity-75">
                ({{ track.getLength() | trackLength }})
              </span>
            </span>
          </td>
          <td>
            {{ track.bpm }}
          </td>
          <td>
            {{ track.key }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
<div>
  <button 
    class="btn btn-primary mb-1 me-1"
    type="button"
    [disabled]="tracksAreLoading"
    (click)="addTrack()">
    Add track
  </button>
  <button 
    class="btn btn-secondary mb-1 me-1"
    type="button"
    aria-label="Edit selected track"
    [disabled]="tracksSelected.length != 1"
    (click)="editTrack()">
    Edit selected
  </button>
  <button 
    class="btn btn-secondary mb-1 me-1"
    type="button"
    aria-label="Removed selected tracks"
    [disabled]="tracksSelected.length < 1"
    (click)="removeTracks()">
    Remove selected
  </button>
  <button 
    class="btn btn-secondary mb-1"
    type="button"
    aria-label="Swap selected tracks"
    [disabled]="tracksSelected.length != 2"
    (click)="swapTracks()">
    Swap selected
  </button>
  <span *ngIf="tracksAreUpdating" class="ms-2">
    <app-spinner
      [spinnerSmall]="true">
    </app-spinner>
  </span>
</div>