<app-page-header>
  Tracklists
</app-page-header>
@if (successMessage()) {
  <app-alert
    alertId="successHeader"
    alertRole="note"
    alertType="alert-success">
    {{ successMessage() }}
  </app-alert>
}
@if (errorMessage()) {
  <app-alert
    alertId="errorHeader"
    alertRole="note"
    alertType="alert-danger">
    {{ errorMessage() }}
  </app-alert>
}
<form
  autocomplete="off"
  (ngSubmit)="addTracklist()">
  <div class="table-responsive">
    <table
      class="table table-bordered table-striped mb-1">
      <caption class="sr-only">
        Tracklists
      </caption>
      <thead>
        <tr>
          <th scope="col" id="nameCol">Name</th>
          <th scope="col" id="actionCol">Action</th>
        </tr>
      </thead>
      <tbody>
        @if (isLoading()) {
          <tr>
            <td>
              <app-spinner spinnerSmall="true">
                Loading, please wait...
              </app-spinner>
            </td>
            <td></td>
          </tr>
        } @else {
          @for (tracklist of tracklists();
            track tracklist.id; let i = $index) {
            <tr>
              <td class="align-middle">
                <a [routerLink]="[tracklist.id]">
                  {{ tracklist.title ?
                     tracklist.title : 'No title available' }}
                </a>
              </td>
              <td class="align-middle">
                <button
                  class="btn btn-danger"
                  title="Remove tracklist"
                  type="button"
                  (click)="removeTracklist(
                    tracklist.id ?? '', tracklist.title)">
                  <app-delete-icon/>
                  <span class="sr-only">
                    Remove tracklist {{ tracklist.title }}
                  </span>
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td>No tracklists available.</td>
              <td></td>
            </tr>
          }
          <tr>
            <td>
              <app-form-input-text
                name="nameToAdd"
                inputId="nameToAdd"
                inputLabelInvisible="true"
                inputLabelText="Enter a tracklist name to add"
                inputPlaceholder="Enter a tracklist name to add"
                [(ngModel)]="tracklistToAdd">
              </app-form-input-text>
            </td>
            <td>
              <button
                class="btn btn-primary"
                type="submit"
                aria-label="Add tracklist"
                [disabled]="isAdding() || isLoading()">
                <app-add-icon/>
                Add
              </button>
              @if (isAdding()) {
                <span class="ms-2">
                  <app-spinner
                    spinnerSmall="true">
                  </app-spinner>
                </span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</form>