<app-page-header>
  Edit tracklist
</app-page-header>
@if (successMessage()) {
  <app-alert
    alertId="successHeader"
    alertRole="note"
    alertType="alert-success">
    {{ successMessage() }}
  </app-alert>
}
@if (errorMessage()) {
  <app-alert
    alertId="errorHeader"
    alertRole="note"
    alertType="alert-danger">
    {{ errorMessage() }}
  </app-alert>
}
<h2>
  Title
</h2>
<div class="mb-3">
  @if (isTitleBeingEdited()) {
    <form
      autocomplete="off"
      (ngSubmit)="editTitle()">
      <div class="form-row mb-2">
        <div class="col-sm-6">
          <app-form-input-text
            name="tracklistTitle"
            inputId="tracklistTitle"
            inputLabelInvisible="true"
            inputLabelText="Enter a new tracklist title"
            [(ngModel)]="tracklistTitleToEdit">
          </app-form-input-text>
        </div>
      </div>
      <button
        class="btn btn-success me-1"
        type="submit"
        aria-label="Save tracklist title"
        [disabled]="isTitleBeingSaved()">
        Save
      </button>
      <button
        class="btn btn-secondary"
        type="button"
        aria-label="Cancel edit tracklist title"
        [disabled]="isTitleBeingSaved()"
        (click)="onCancelEditTitle()">
        Cancel
      </button>
      @if (isTitleBeingSaved()) {
        <span class="ms-2">
          <app-spinner
            spinnerSmall="true">
          </app-spinner>
        </span>
      }
    </form>
  } @else {
    @if (tracklistIsLoading()) {
      <p class="mb-2">
        <app-spinner
          spinnerSmall="true">
          Loading, please wait...
        </app-spinner>
      </p>
    } @else if (tracklistTitle()) {
      <p class="mb-2">
        {{ tracklistTitle() }}
      </p>
    } @else {
      <p class="mb-2">
        No title available
      </p>
    }
    <button
      class="btn btn-secondary"
      id="editTitleButton"
      type="button"
      aria-label="Edit tracklist title"
      [disabled]="tracklistIsLoading()"
      (click)="onEditTitle()">
      Edit title
    </button>
  }
</div>
<h2>
  Tracks
</h2>
<div class="table-responsive">
  <table class="table table-sm table-bordered table-striped mb-1">
    <caption class="sr-only">
      Tracks
    </caption>
    <thead>
      <tr>
        <th scope="col" id="selectCol">Select</th>
        <th scope="col" id="trackCol">Track</th>
        <th scope="col" id="bpmCol">BPM</th>
        <th scope="col" id="keyCol">Key</th>
      </tr>
    </thead>
    <tbody>
      @if (tracksAreLoading()) {
        <tr>
          <td></td>
          <td colspan="3">
            <app-spinner
              spinnerSmall="true">
              Loading, please wait...
            </app-spinner>
          </td>
        </tr>
      } @else {
        @for (track of tracks();
          track track.id; let i = $index) {
          <tr>
            <td class="text-center">
              <input
                type="checkbox"
                class="form-check-input"
                [id]="`chk${i}`"
                [value]="track.id"
                (change)="onTrackSelected($event, track.id ?? '')">
              <app-form-label
                labelInvisible="true"
                [labelControlId]="`chk${i}`">
                Select track {{ (i+1) }}. {{ track.artist }} - {{ track.title }}
              </app-form-label>
            </td>
            <td>
              <span aria-hidden="true" class="opacity-75">
                [{{ track.startTime | trackLength }}]
              </span>
              <span class="track-detail-responsive">
                <span aria-hidden="true">
                  {{ (i+1) | appLeadingZero }}.
                </span>
                <span class="sr-only">
                  Track {{ (i+1) }}
                </span>
                <span>
                  {{ track.artist }} - {{ track.title }}
                </span>
                <span class="sr-only">
                  Track start time is {{ track.startTime | trackLengthA11y }}
                  Track length is {{ track.totalTime | trackLengthA11y }}
                </span>
              </span>
              <span class="track-length-responsive">
                <span aria-hidden="true" class="opacity-75">
                  ({{ track.totalTime | trackLength }})
                </span>
              </span>
            </td>
            <td>
              {{ track.bpm }}
            </td>
            <td>
              {{ track.key }}
            </td>
          </tr>
        } @empty {
          <tr>
            <td></td>
            <td colspan="3">
              No tracks available.
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
<div>
  <button
    class="btn btn-primary mb-1 me-1"
    type="button"
    [disabled]="tracksAreLoading()"
    (click)="addTrack()">
    Add track
  </button>
  <button
    class="btn btn-secondary mb-1 me-1"
    type="button"
    aria-label="Edit selected track"
    [disabled]="tracksSelectedCount() != 1"
    (click)="editTrack()">
    Edit selected
  </button>
  <button
    class="btn btn-secondary mb-1 me-1"
    type="button"
    aria-label="Removed selected tracks"
    [disabled]="tracksSelectedCount() < 1"
    (click)="removeTracks()">
    Remove selected
  </button>
  <button
    class="btn btn-secondary mb-1"
    type="button"
    aria-label="Swap selected tracks"
    [disabled]="tracksSelectedCount() != 2"
    (click)="swapTracks()">
    Swap selected
  </button>
  @if (tracksAreUpdating()) {
    <span class="ms-2">
      <app-spinner
        spinnerSmall="true">
      </app-spinner>
    </span>
  }
</div>
<div class="mb-2 mt-3">
  Return to: <a routerLink="/tracklists" aria-label="Return to tracklists page">
    Tracklists
  </a>
</div>