footer {
    border-bottom: 3px solid #343a40;
    border-top: 1px solid darkgray;
    background-color: lightgray;
    margin-top: 2.5rem!important;
}
dl {
    margin-top: 1rem!important;
}
dt {
    display: inline;
    margin-right: .25rem!important;
}
dd {
    display: inline;
    margin-bottom: 0!important;
}