<header class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <nav class="container" aria-label="Main navigation">
    <button
      id="mainNavbarLink"
      type="button"
      class="btn btn-outline-light mr-2 mt-1"
      aria-label="Mix Manager (skips to main content)"
      (click)="skipToContent()">
      <app-music-icon
        [width]="32"
        [height]="32"
        [title]="'Mix Manager'">
      </app-music-icon>
    </button>
    <button 
       *ngIf="loginService.authState() | async"
       class="navbar-toggler" 
       type="button" 
       data-toggle="collapse" 
       data-target="#navbarSupportedContent" 
       aria-controls="navbarSupportedContent" 
       aria-expanded="false" 
       aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="loginService.authState() | async" class="collapse navbar-collapse mt-1" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="/home" 
             routerLinkActive="active" 
             #rlaHome="routerLinkActive">
            Home<span *ngIf="rlaHome.isActive" class="sr-only"> (current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
             routerLink="/tracklists" 
             routerLinkActive="active" 
             #rlaTrack="routerLinkActive">
            Tracklists<span *ngIf="rlaTrack.isActive" class="sr-only"> (current)</span>
          </a>
        </li>
      </ul>
      <span class="pull-right mt-1">
        <span *ngIf="isLoggingOut" class="navbar-spinner mr-2">
          <app-spinner></app-spinner>
        </span>
        <button 
          type="button" 
          class="btn btn-outline-light"
          (click)="logout()">
          Logout
        </button> 
      </span> 
    </div>
  </nav>
</header>