footer {
    border-bottom: 3px solid #343a40;
    border-top: 1px solid darkgray;
    background-color: lightgray;
    margin-top: 3rem!important;
}
.footer-container {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}