<app-page-header>
  Login
</app-page-header>
<app-alert
  *ngIf="loginService.loggedOut | async"
  [alertId]="'successHeader'"
  [alertType]="'alert-success'">
  You have successfully logged out.
</app-alert>
<app-form-error-header
  [errorHeaderMessage]="loginErrorMessageHeader"
  [errorHeaderFormGroup]="loginForm">
</app-form-error-header>
<form
  autocomplete="off"
  [formGroup]="loginForm"
  (ngSubmit)="login()">
  <fieldset>
    <legend class="sr-only">
      Login credentials
    </legend>
    <div class="col-sm-6 mb-3">
      <app-form-input-text
        formControlName="loginEmail"
        [inputErrorMessageId]="'loginEmailError'"
        [inputErrorMessages]="loginErrorMessageMap"
        [inputLabelText]="'E-mail address'"
        [inputId]="'loginEmail'"
        [inputRequired]="true">
      </app-form-input-text>
    </div>
    <div class="col-sm-6 mb-3">
      <app-form-input-text
        formControlName="loginPassword"
        [inputErrorMessageId]="'loginPasswordError'"
        [inputErrorMessages]="loginErrorMessageMap"
        [inputLabelText]="'Password'"
        [inputId]="'loginPassword'"
        [inputRequired]="true"
        [inputType]="'password'">
      </app-form-input-text>
    </div>
  </fieldset>
  <div class="mt-2">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="loginInProgress">
      Login
    </button>
    <span *ngIf="loginInProgress" class="ms-2">
      <app-spinner
        [spinnerSmall]="true">
      </app-spinner>
    </span>
  </div>
</form>