@media only screen and (max-width: 576px) {
    .block-button {
      display: block;
      margin-bottom: .25rem!important;
      width: 100%;
    }
}
h1 {
    border-bottom: 1px solid darkgray;
    margin-bottom: 1rem!important;
    padding-bottom: .2em;
}
label {
    font-weight: bold;
}
.required {
    color: red;
}
.icon-mb-1 .bi {
    margin-bottom: .25rem!important;
}